 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pscafe.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1134px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 381px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 56px 72px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -8px -19px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 27px 18px 28px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 27px 18px 28px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 27px 18px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 353px;
    margin-left: 505px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 191px;
    margin-left: 291px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 304px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 280px;
    margin-left: 615px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 411px;
    margin-left: 511px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 220px;
    margin-left: 705px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 591px;
    margin-left: 691px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 153px;
    margin-left: 904px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 791px;
    margin-left: 891px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 664px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 790px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 467px;
  height: 362px;
  margin: 76px auto 0 60px;
}

.u-section-2 .u-image-2 {
  width: 440px;
  height: 362px;
  margin: -362px 60px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 23px auto 0 165px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-align: center;
  margin: -39px 23px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 14px auto 0 97px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  text-align: center;
  margin: -48px 62px 60px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 264px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 280px;
    margin-top: -264px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 104px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 744px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 64px auto 0;
}

.u-section-3 .u-image-1 {
  width: 320px;
  height: 286px;
  margin: 57px auto 0 21px;
}

.u-section-3 .u-image-2 {
  width: 320px;
  height: 286px;
  margin: -286px auto 0;
}

.u-section-3 .u-image-3 {
  width: 320px;
  height: 286px;
  margin: -286px 21px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 117px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-align: start;
  margin: -39px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-align: start;
  margin: -39px 7px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.5625rem;
  text-align: center;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5625rem;
  text-align: center;
  margin: -40px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5625rem;
  text-align: center;
  margin: -40px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 181px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -294px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    margin-left: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 74px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 772px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 51px auto 0;
}

.u-section-4 .u-image-1 {
  width: 646px;
  height: 430px;
  margin: 32px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-align: start;
  margin: 32px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  text-align: center;
  margin: 11px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}